html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** End CSS RESET *******************/

body {
	font-family:'Source Code Pro', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
}

#page {
	width:85%;
	margin:20px auto;
}

.codesnippet {
	padding: 20px 0;
}

/****************** Logo Styles ********************/

.light { font-family: 'Source Code Pro'; font-weight: 300; margin-right:2px; letter-spacing:-4px; color:#333;}

.semi-bold { font-family: 'Source Code Pro'; font-weight: 700; letter-spacing:-2px; color:#6EA2B8; }

#logo h1 { font-size:48px; line-height:48px; margin-bottom:0;}
#logo h2 { font-family: 'Source Code Pro'; font-weight:300; font-size:24px; color:#666; padding-left:50px; position:relative; top:-6px; margin-bottom:0;}

#logo { margin-bottom:20px; }

/*******************Login Form Styles ******************/

#loginform {
	width:50%;
	margin:auto;
}

#loginform label {
	display:block;
	width:90%;
}

#loginform input[type="text"], #loginform input[type="password"] {
	border:none;
	background:#DFDFDF;
	padding:10px;
	margin-bottom:20px;
	width:90%;
	font-size:16px;
}

/******************** Form Elements *******************/

textarea:focus, input:focus{
    outline: 0;
}

label {
	display:block;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#4d4d4d;
	padding:10px;
	width:600px;
	color:#e5e5e5;
	text-transform:uppercase;
}

label span {
	text-transform:lowercase;
}

input[type="text"], textarea {
	border:none;
	background:#DFDFDF;
	padding:10px;
	margin-bottom:20px;
	width:600px;
	font-family:'Source Code Pro';
	position:relative;
	top:-1px;
	font-size:12px;
}

input[type="text"] {
	font-size:16px;
}

/********************* Typography *********************/

h1, h2, h3 {
	font-weight:600;
	margin-bottom:1em;
	color:#6EA2B8;
}

h2 { font-size:160%; }

h3 { font-size:130%; }

p {
	margin-bottom:1em;
}


/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }